{% extends "ViperApp/zplantvacia.html" %}


{% load static %}


{% block listas %}

<h2 class="text-secondary mb-0"><br><br>Mi nombre es Sebastián Herrera Frontini, tengo 40 años, soy técnico en soporte hardware, 
    estoy trabajando hace 12 años aproximadamente en una conocida empresa retail de Argentina. 
    Y ahora mi siguiente paso es aprender programación.<br>
    Espero que este proyecto sea de su agrado ya que se realizó con dedicación, insomnio y mucho café (jeje!)<br><br>
    Saludos!

</h2>


        
        
            </a>
        </div>
    </div>
</section>

{% endblock %}